# Project Proposal

In [1]:
import pandas as pd

In [2]:
wynn = pd.read_csv("WYNN.csv")
wynn

,Date,Open,High,Low,Close,Adj Close,Volume,UNEM,CPI,GDPCAP,INT,RATE,PASS
0,10/25/2002,13.000000,13.150000,12.850000,13.010000,7.179373,13965800,5.7,2.025886,46883,13.11,6.31,55055026
1,10/28/2002,13.010000,13.050000,12.960000,13.010000,7.179373,5505900,5.7,2.025886,46883,13.11,6.31,55055026
2,10/29/2002,13.000000,13.010000,12.040000,12.640000,6.975194,2235800,5.7,2.025886,46883,13.11,6.31,55055026
3,10/30/2002,12.610000,12.620000,12.130000,12.500000,6.897936,905800,5.7,2.025886,46883,13.11,6.31,55055026
4,10/31/2002,12.560000,13.020000,12.500000,12.610000,6.958640,298900,5.7,2.025886,46883,13.11,6.31,55055026
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4969,7/25/2022,61.860001,62.360001,60.049999,62.230000,62.230000,2179000,3.5,8.524815,60135,15.13,5.54,76661039
4970,7/26/2022,61.889999,62.169998,60.849998,61.250000,61.250000,1399600,3.5,8.524815,60135,15.13,5.54,76661039
4971,7/27/2022,62.080002,63.490002,61.750000,63.290001,63.290001,1812200,3.5,8.524815,60135,15.13,5.54,76661039
4972,7/28/2022,63.189999,63.840000,61.810001,63.650002,63.650002,1600100,3.5,8.524815,60135,15.13,5.30,76661039
4973,7/29/2022,63.299999,63.680000,61.630001,63.480000,63.480000,1786400,3.5,8.524815,60135,15.13,5.30,76661039

For my project, I will attempt to predict the stock price (specifically the Adj Close) of Wynn Resorts 90 and 180 days out. Wynn is a company based out of Paradise, Nevada that developes and operates hotels and casinos. While predicting stock movements is a notoriously difficult (and risky) venture, I believe that due to the planned nature of vacations, some information about future performance may be gleaned from present macro-economic conditions and other indicators (PASS - passenger miles, RATE - 30 mortage rates, etc). This is, of course, weakened by consumer's ability to cancel vacations and the responsiveness of investor's to current conditions vs future ones. I used Yahoo Finance to get the stock information for WYNN, and FRED for the other variables. I have some computer science experience, so I think it would be fun to try out some machine learning/artificial intelligence models here (specifically an LSTM, but if that is beyond the scope of this course, I will stick with normal econometric techniques).