In [1]:
# 1. Record your name in an object (x = ...) and a description of yourself in another object. 
x = "Hayden Hogenson"
y = "A student in the Master's Program"

In [3]:
# 2. Raise 2 to the 4th power. Save the value as an object named twoToTheFourth. Then create a new value that sums the value twice. Create another variable that saves the value of twoToTheFourth as a string. Just as with the numeric value, sum the string object twice.
twoToTheFourth = 2 ** 4
sumTwice = twoToTheFourth + twoToTheFourth
string = str(twoToTheFourth)
addTwice = string + string

In [4]:
# 3. Find the list of escape sequences in Section 2.4. create a string that uses at least 4 different escape sequences.
string2 = "\t\"\n\\"
print(string2)

	"
\