# Project 2 - Working with Lists

In [1]:
#lists.py
empty_list = []
int_list = [1,2,3,4,5]
float_list = [1.0,2.0,3.0,4.0,5.0]
string_list = ["Many words", "impoverished meaning"]
mixed_list = [1,2.0,"Mix it up"]

print(empty_list)
print(int_list)
print(float_list)
print(string_list)
print(mixed_list)

[]
[1, 2, 3, 4, 5]
[1.0, 2.0, 3.0, 4.0, 5.0]
['Many words', 'impoverished meaning']
[1, 2.0, 'Mix it up']

In [3]:
type(empty_list), type(int_list), type(float_list), type(string_list), type(mixed_list)

(list, list, list, list, list)

## Concatenating Lists

In [5]:
int_list + float_list

[1, 2, 3, 4, 5, 1.0, 2.0, 3.0, 4.0, 5.0]

In [6]:
[1] + [2]

[1, 2]

In [7]:
list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [8]:
# similar to concatenating strings

str1 = "1"
str2 = "2"
join_strs = str1 + str2
join_strs

'12'

# For Loops and range()

### a for loop using in rage() will cycle through variable i from j to k by increments of variable l
for i in range(j, k, l):
    execute script
    
| New Concepts | Description |
| --- | --- |
| _list(obj)_ | List transforms an iterable object, such as a tuple or set, into a dynamic list. |
| _range(j, k , l)_ | Identifies a range of integers from _j&nbsp;_ to _kâ€“1_ separated by some interval _l_. |
|_len(obj)_ | Measure the length of an iterable object. |

In [9]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
total = 0
for i in range(1, 101):
    total = total + i
    print(i, total)

5050

In [15]:
list1 = [543,342,6,435,543]
str1 = "432lkn156442ib3311l;knpk5621321"

for val in list1:
    print(val)
    
for string in str1:
    print(string, string=="k")

543
342
6
435
543
4 False
3 False
2 False
l False
k True
n False
1 False
5 False
6 False
4 False
4 False
2 False
i False
b False
3 False
3 False
1 False
1 False
l False
; False
k True
n False
p False
k True
5 False
6 False
2 False
1 False
3 False
2 False
1 False

In [17]:
total = 0
for i in range(1,101,2):
    total = total + i
    print(total)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500