# Project 2 - Working with Lists

In [1]:
#lists.py
empty_list = []
int_list = [1,2,3,4,5]
float_list = [1.0,2.0,3.0,4.0,5.0]
string_list = ["Many words", "impoverished meaning"]
mixed_list = [1,2.0,"Mix it up"]

print(empty_list)
print(int_list)
print(float_list)
print(string_list)
print(mixed_list)

[]
[1, 2, 3, 4, 5]
[1.0, 2.0, 3.0, 4.0, 5.0]
['Many words', 'impoverished meaning']
[1, 2.0, 'Mix it up']

In [2]:
type(empty_list), type(int_list), type(float_list), type(string_list), type(mixed_list)

(list, list, list, list, list)

## Concatenating Lists

In [3]:
int_list + float_list

[1, 2, 3, 4, 5, 1.0, 2.0, 3.0, 4.0, 5.0]

In [4]:
[1] + [2]

[1, 2]

In [5]:
list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [6]:
# similar to concatenating strings

str1 = "1"
str2 = "2"
join_strs = str1 + str2
join_strs

'12'

# For Loops and range()

### a for loop using in rage() will iterate through variable i from j to k by increments of variable l
for i in range(j, k, l):
    
    
| New Concepts | Description |
| --- | --- |
| _list(obj)_ | List transforms an iterable object, such as a tuple or set, into a dynamic list. |
| _range(j, k , l)_ | Identifies a range of integers from _j&nbsp;_ to _kâ€“1_ separated by some interval _l_. |
|_len(obj)_ | Measure the length of an iterable object. |

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
total = 0
for i in range(1, 101):
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050

In [9]:
list1 = [543,342,6,435,543]
str1 = "432lkn156442ib3311l;knpk5621321"

for val in list1:
    print(val)
    
for string in str1:
    print(string, string=="k")

543
342
6
435
543
4 False
3 False
2 False
l False
k True
n False
1 False
5 False
6 False
4 False
4 False
2 False
i False
b False
3 False
3 False
1 False
1 False
l False
; False
k True
n False
p False
k True
5 False
6 False
2 False
1 False
3 False
2 False
1 False

In [10]:
total = 0
for i in range(1,101,2):
    total = total + i
    print(total)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [11]:
list1 = [1,2]
list2 = [3,4]
list1 + list2

[1, 2, 3, 4]

## More on range()

In [12]:
#create a list by appending
list1 = []
for i in range(0,9,2):
    print(i)
    list1.append(i)
    print(list1)

0
[0]
2
[0, 2]
4
[0, 2, 4]
6
[0, 2, 4, 6]
8
[0, 2, 4, 6, 8]

In [13]:
#create a list by passing range(j,k,l) to list
list2 = list(range(0,9,2))
list2

[0, 2, 4, 6, 8]

### Using len() with range

In [14]:
list2_len = len(list2)
print("i", "val")
for i in range(list2_len):
    print(i, list2[i])

i val
0 0
1 2
2 4
3 6
4 8

### Nested for-loop

In [15]:
list2_len = len(list2)
print("i", "list")

#nested for loop with varying interval
for interval in range(1,6):
    list2 = list(range(0,9,interval))
    print(interval, list2)
    list2_len = len(list2)
    print("length: ", list2_len)
    print("j", "val")
    for j in range(list2_len):
        print(j, list2[j])

i list
1 [0, 1, 2, 3, 4, 5, 6, 7, 8]
length:  9
j val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
2 [0, 2, 4, 6, 8]
length:  5
j val
0 0
1 2
2 4
3 6
4 8
3 [0, 3, 6]
length:  3
j val
0 0
1 3
2 6
4 [0, 4, 8]
length:  3
j val
0 0
1 4
2 8
5 [0, 5]
length:  2
j val
0 0
1 5

## If Statements And Boolean Variables

In [16]:
# Boolean variables are either true or false
print(True)
print(False)
print(True * True)
print(True * False)
print(False * False)

True
False
1
0
0

In [17]:
boolean = True
if boolean: # <=> if boolean == True
    print(boolean)
    
boolean2 = False
if boolean2 == False:
    print(boolean2)
if boolean == False:
    print(boolean)

True
False

In [18]:
False == False

True

In [19]:
1 == True

True

In [20]:
1 != True

False

In [21]:
words = ["The", "dog", "ate", "the", "snow", "and", "then", "she", "ate", "my", "homework"]
# Does the word "ate" appear in the list? 
count = words.count("ate")
print("The word \"ate\" appears " + str(count) + " time/s in the list")

The word "ate" appears 2 time/s in the list

In [22]:
num_words = len(words)
for i in range(num_words):
    print(i, words[i])
    print("Is the word " + words[i] + " \"ate\"?: " + str(words[i] == "ate"))

0 The
Is the word The "ate"?: False
1 dog
Is the word dog "ate"?: False
2 ate
Is the word ate "ate"?: True
3 the
Is the word the "ate"?: False
4 snow
Is the word snow "ate"?: False
5 and
Is the word and "ate"?: False
6 then
Is the word then "ate"?: False
7 she
Is the word she "ate"?: False
8 ate
Is the word ate "ate"?: True
9 my
Is the word my "ate"?: False
10 homework
Is the word homework "ate"?: False

## If, else, and elif

In [23]:
random_numbers = [251,6,1,51,981,98,4,94511,5,16,1,9,5,191911,8,191]

#is the number >10
lessOrEqual10 = []
greater10 = []
for number in random_numbers:
    if number > 10:
        print(number, "is greater than 10")
        greater10.append(number)
    else:
        print(number, "is not greater than 10")
        lessOrEqual10.append(number)
print("\n")
print(greater10)
print(lessOrEqual10)

251 is greater than 10
6 is not greater than 10
1 is not greater than 10
51 is greater than 10
981 is greater than 10
98 is greater than 10
4 is not greater than 10
94511 is greater than 10
5 is not greater than 10
16 is greater than 10
1 is not greater than 10
9 is not greater than 10
5 is not greater than 10
191911 is greater than 10
8 is not greater than 10
191 is greater than 10


[251, 51, 981, 98, 94511, 16, 191911, 191]
[6, 1, 4, 5, 1, 9, 5, 8]

In [24]:
random_numbers = [251,6,1,51,981,-98,6,6,4,94511,5,16,1,9,-5,191911,8,-191]

#is the number >10
negative = []
zeroTo10 = []
greater10 = []
for number in random_numbers:
    if number > 10:
        print(number, "is greater than 10")
        greater10.append(number)
    elif number >= 0:
        print(number, "is in the domain of 0 and 10")
        zeroTo10.append(number)
    else:
        print(number, "is negative")
        negative.append(number)
print("\n")
print(greater10)
print(zeroTo10)
print(negative)

251 is greater than 10
6 is in the domain of 0 and 10
1 is in the domain of 0 and 10
51 is greater than 10
981 is greater than 10
-98 is negative
6 is in the domain of 0 and 10
6 is in the domain of 0 and 10
4 is in the domain of 0 and 10
94511 is greater than 10
5 is in the domain of 0 and 10
16 is greater than 10
1 is in the domain of 0 and 10
9 is in the domain of 0 and 10
-5 is negative
191911 is greater than 10
8 is in the domain of 0 and 10
-191 is negative


[251, 51, 981, 94511, 16, 191911]
[6, 1, 6, 6, 4, 5, 1, 9, 8]
[-98, -5, -191]

## Removing values from a list

In [25]:
#delete last elements using -1
del greater10[-1]
del zeroTo10[-1]
del negative[-1]
print(greater10)
print(zeroTo10)
print(negative)

[251, 51, 981, 94511, 16]
[6, 1, 6, 6, 4, 5, 1, 9]
[-98, -5]

In [26]:
# using 1 deletes the second element
del greater10[1]
del zeroTo10[1]
del negative[1]
print(greater10)
print(zeroTo10)
print(negative)

[251, 981, 94511, 16]
[6, 6, 6, 4, 5, 1, 9]
[-98]

In [27]:
greater10.remove(251)
#only removes first instance
zeroTo10.remove(6)
negative.remove(-98)
print(greater10)
print(zeroTo10)
print(negative)

[981, 94511, 16]
[6, 6, 4, 5, 1, 9]
[]

### list.pop()

In [28]:
#removes the last element
print(greater10.pop())
print(greater10)

16
[981, 94511]

## Sorting

In [29]:
numList = [13,216,4564,994,1,6132,1694,8,12,33,6,36,34]
strList = ["afbmae","mbbpomb","pom","BPMBM","OEbmbm","ppmpmpmm","pmpm"]
#Capital letters come before lowercase letters
sorted(numList), sorted(strList)

([1, 6, 8, 12, 13, 33, 34, 36, 216, 994, 1694, 4564, 6132],
 ['BPMBM', 'OEbmbm', 'afbmae', 'mbbpomb', 'pmpm', 'pom', 'ppmpmpmm'])

In [30]:
#sorting is not permanent
numList, strList

([13, 216, 4564, 994, 1, 6132, 1694, 8, 12, 33, 6, 36, 34],
 ['afbmae', 'mbbpomb', 'pom', 'BPMBM', 'OEbmbm', 'ppmpmpmm', 'pmpm'])

In [31]:
#.sort() is permanent
numList.sort()
numList

[1, 6, 8, 12, 13, 33, 34, 36, 216, 994, 1694, 4564, 6132]

In [32]:
#cant compare string and int
sorted(numList + strList)

TypeError: '<' not supported between instances of 'str' and 'int'

## List Slices

In [33]:
#a slice is a portion of the list
lst = [1,2,3,4,5,6,6,7]
#the first number is the index, the second is before the index
lst[2:5]

[3, 4, 5]

In [34]:
lst[::2]

[1, 3, 5, 6]

## Lists and generators

In [35]:
generator = (i for i in range(20))

list1 = list(generator)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
list2 = [2 * i for i in range(20)]
list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]